.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 16;
}

@media (min-width: 1200px) {
  /* #devs ul {
       --columns: 1;
    } */
  .main {
    --columns: 16;
  }
  /* #first 5 - #main 6 - #devs 2 - #resources 3 cols wide, make sure ordering is correct */
  /* #devs{
        --width: 2;
        order: 3;
    }
    #resources {
        --width: 3;
        order: 4;
    }
    #inside article,
    #inside #table article {
        --width: 12;
    }
    #inside aside,
    #inside #table aside {
        --width: 4;
    } */
}
