@import "../../styles/main.css";

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  border-bottom: solid 1px var(--border);
  height: 3.5rem;
  left: 0;
  line-height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-base);
}

.headerLink {
  color: inherit;
  text-decoration: none;
}

.heading {
  height: inherit;
  line-height: inherit;
  padding: 0 0 0 1.5rem;
  white-space: nowrap;
}

.headingLink {
  font-size: 0.7rem;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.listItem {
  display: inline-block;
  padding-left: 0;
}

.links {
  flex: 1;
  border-left: solid 1px var(--border);
  height: inherit;
  line-height: inherit;
  margin-left: 1.5rem;
  overflow: hidden;
  padding-left: 1.5rem;
}

.linksListItem {
  composes: listItem;
  border-left: solid 1px var(--border);
  line-height: 1;
  margin-left: 1rem;
  padding-left: 1rem;
}

.linksListItem:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.linksListItemLink {
  border-bottom: 0;
  font-family: var(--family-heading);
  font-size: 0.7rem;
  font-weight: var(--weight-heading);
  letter-spacing: var(--kerning-heading);
  text-transform: uppercase;
}

.main {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

.mainList {
  height: inherit;
  line-height: inherit;
}

.mainListItem {
  border-left: solid 1px var(--border);
  height: inherit;
  line-height: inherit;
  white-space: nowrap;
}

.mainListItemLink {
  border-bottom: 0;
  color: var(--fg-light);
  overflow: hidden;
  position: relative;
  text-indent: 4em;
  width: 4em;
}

.search {
  composes: listItem;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

/* .header {
  border-bottom: 4px solid #9ea9c1;
}

.menuToggle {
  color: #333;
  margin-right: 1rem;
}

.menuToggle:hover,
.menuToggle:focus {
  color: #c85028;
}

.menu {
  position: fixed;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  transition: left 0.3s ease;
  z-index: 999;
}

.list {
  list-style: none;
  margin: 0;
  padding-top: 2.5em;
  min-height: 100%;
  width: 200px;
  background-color: #1a1a1a;
}

.link {
  display: block;
  padding: 0.75rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.firstLink {
  composes: link;
  border-top: 1px solid #383838;
}

@media (min-width: 800px) {
  header,
  main {
    border: none;
    margin: 0;
  }

  nav {
    border-top: 4px solid #9ea9c1;
    border-bottom: 1px solid #dddddd;
    padding: 0.3rem 0;
  }

  .menuToggle,
  .menu .menuClose {
    display: none;
  }

  .menu {
    position: static;
    display: block;
  }

  .menu ul {
    padding: 0;
    height: auto;
    width: auto;
    background: none;
    overflow: hidden;
    text-align: center;
  }

  .menu li {
    display: inline-block;
  }

  .menu li:not(:last-child)::after {
    content: " || ";
  }

  .menu li:first-child a {
    border-top: none;
  }

  .menu a {
    color: #c85028;
    border-bottom: none;
    display: inline;
  }

  .menu a:hover,
  .menu a:focus {
    background: none;
    color: #7e64be;
    text-decoration: none;
  }
} */
